<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>varenc.chris.dropboxlinkservice</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/python3</string>
		<string>/Users/chris/Dropbox/workspace-defiant/dropbox-link-service/dropbox-url-swap.py</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/tmp/launchd_logs/varenc.chris.dropboxlinkservice.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/launchd_logs/varenc.chris.dropboxlinkservice.log</string>
	<key>ThrottleInterval</key>
	<integer>30</integer>
</dict>
</plist>
